.navbar-default {
    margin-right: 30px;
    margin-left: 30px;
    padding-bottom: 4px;
}

.navbar-default .glyphicon{
  font-size: 17px;
}

.navbar-default .navbar-nav>li>a>.glyphicon-plus{
  color: #33d40d;
  font-size: 17px;

}

.navbar-default .navbar-nav>li>a>b>sub{
  position: absolute;
  line-height: 2;
}
.empty-li{
  min-width: 20px;
  min-height: 20px;
}

.order-status, .payment-status{
  display: block;
}

.orders{
  max-height: 495px;
   overflow-y:scroll;

}
.order-data{
  width: 100%;
  border-width: 2px;
  border-bottom-width:2px;
  border-bottom-color:White;
  border-bottom-style:groove;
  margin-bottom: 12px;
  min-height: 115px;
  border-radius: 3px;
  padding: 10px;


}
.order-data:hover{
  background-color:rgba(51, 122, 183, 0.54);
}
.order-data .order-number{
display: inline-block;
font-size: 16px;
font-weight: bold;
}

.order-data .order-date {
  float: left;
  display: inline;
}

.order-data .label{
  display: inline;
  float: left;
  margin:2px 210px 0 0;
}

.order-data .order-item{
  margin-left: 0px;
}
.order-data .order-total{
  font-size: 14px;
  font-weight: bold;
}

.item-table>tbody>tr>th, .item-table>tbody>tr>td
,.pricing-table>tbody>tr>th, .pricing-table>tbody>tr>td{
      text-align: center;
      vertical-align: middle;
      padding: 3px;
}

th{
  text-align: right !important;
}

.panel-heading .glyphicon{
  color:#337ab7;
  float: left;
  font-size: 18px;
}
.panel-body, .panel-footer{
  border-top: 1;
  padding: 0;
}
.item-table, .pricing-table, .payment-table{
  margin: 0;

}

.payment-table>tbody>tr>th, .payment-table>tbody>tr>td{
  border-top: none;
}
.payment-table>tbody{
   display: block;
  max-height: 100px;
  overflow-y: auto;
}

.file-list{
  max-height: 430px;
  overflow-y:scroll;
}

.empty{
  padding:20% 30% 0 0;

}

.empty .glyphicon{
   font-size: 75px;
   color:#7b7b7b
}

.text-info{
  max-width: 100%;
  min-width: 100%;
  max-height: 250px;
  min-height: 110px;
}

.new-order-form{
  margin: 20px 0;

}
.check-box-span{
  padding-right: 15px;
}


.active{
  background-color: rgba(60, 118, 61, 0.25);
}
.order-link,
.order-link:hover,
.order-link:active,
.order-link:link,
.order-link:focus{
  text-decoration: none!important;
  color: #000;
}

.top-static-bar {
    position: sticky;
    right: 0;
    left: 0;
    top: 0;
    z-index: 200;
}

.hidden{
  display: none;
}

td{
  overflow: hidden;
  text-overflow: ellipsis;
}
