<div ng-show="loadme" ng-cloak>
  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">طلبات</a>
  </div>

<!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li ><a href="#"><span class="glyphicon glyphicon-menu-hamburger"></span>
      <li ><a href="#"><span class="glyphicon glyphicon-sort-by-attributes"></span>
      <li ><a href="/new" ><span class="glyphicon glyphicon-plus"></span>
      </a></li>
      <li ><a href="" ng-click="Logout()"><span class="glyphicon glyphicon-off"></span>
      </a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <label for="order-status">  وضع الطلب:</label>
          <div class="btn-group btn-group-sm order-status" id="order-status">
            <button type="button" class="btn btn-primary" ng-click="ChangeOrderStatus(1)" ng-class="{true: 'btn-danger'}[selectedOrder.Status == 1 || selectedOrder.Status == null]">لم يبدأ</button>
            <button type="button" class="btn btn-primary" ng-click="ChangeOrderStatus(2)" ng-class="{true: 'btn-warning'}[selectedOrder.Status == 2]">تحت التنفيذ</button>
            <button type="button" class="btn btn-primary"  ng-click="ChangeOrderStatus(3)" ng-class="{true: 'btn-success'}[selectedOrder.Status == 3]">مكتمل</button>
          </div>
      </li>
      <li class="empty-li"> </li>
      <li>
        <label for="payment-status">وضع الدفع</label>
        <div class="btn-group btn-group-sm payment-status" id="order-status">
          <button type="button" class="btn btn-primary" ng-class="{true: 'btn-danger'}[selectedOrder.OrderPaymentStatus == 1 || selectedOrder.Status == null]" disabled> غير مدفوع</button>
          <button type="button" class="btn btn-primary" ng-class="{true: 'btn-warning'}[selectedOrder.OrderPaymentStatus == 2]" disabled> جزئي</button>
          <button type="button" class="btn btn-primary" ng-click="addNewPayment(selectedOrder.Remaning)" ng-class="{true: 'btn-success'}[selectedOrder.OrderPaymentStatus == 3]" >كلي</button>
        </div>
      </li>
      <li>
        <a>
          <b> رقم الطلب: #{{index+1}}
          <sub>{{selectedOrder.date | date : 'd/MM/y'}}</sub>
        </b>
        </a>
      </li>
      <li>
        <a>
          <b>المستخدم
          <sub>{{UserName}}</sub>
        </b>
        </a>
      </li>
    </ul>
  </div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->
</nav>

<div class="container ">
  <div class="row">
    <div class="col-md-3">
      <div class="orders well" >
        <div class="order-data"
         ng-class="{true: 'active'}[$index ==  index]"
          ng-repeat="Order in OrderList | orderBy:'date'" ng-cloak>
          <div class="order-link" ng-click=selectOrder($index)>
            <div class="order-number"> رقم الطلب: {{$index+1}} </div>
            <small class="order-date">{{Order.date | date : 'EEE, d/MMM/y'}}</small>
            <div class="">
              <span class="label label-success" ng-if="Order.Status==3">مكتمل</span>
              <span class="label label-warning" ng-if="Order.Status==2">قيد التنفيذ</span>
              <span class="label label-danger" ng-if="Order.Status==1">لم يبدأ</span>
            </div>
            <div class="">
              <span class="label label-success" ng-if="Order.OrderPaymentStatus==3">كلي</span>
              <span class="label label-warning" ng-if="Order.OrderPaymentStatus==2">جزئي</span>
              <span class="label label-danger" ng-if="Order.OrderPaymentStatus==1">غير مدفوع</span>
            </div>
            <div class="order-item"> عدد العناصر : {{Order.Items.length}}</div>
            <div class="order-total"> السعر : {{Order.TotalPrice}} </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
        <div class="panel-group">
         <div class="panel panel-default">
           <div class="panel-heading">
            <strong>  طباعة العنصر </strong>
           <a href=""> <span class="glyphicon glyphicon-plus"></span> </a>
         </div>
           <div class="panel-body">
             <table class="table item-table">
               <tbody ng-repeat="item in OrderList[index].Items">
                 <tr>
                  <th>#{{$index+1}}</th>
                  <td>{{item.Name}}</td>
                  <td>
                    <div class="pull-right">


                    <button class="btn btn-primary btn-sm"
                       data-toggle="modal"
                       data-target="#itemModal"
                       ng-click=viewItem(item)><i class="glyphicon glyphicon-open"></i></button>
                     <button class="btn btn-warning btn-sm"
                        data-toggle="modal"
                        data-target="#edititemModal"
                        ng-click=editItem(item)><i class="glyphicon glyphicon-edit"></i></button>
                    <button class="btn btn-danger btn-sm"
                       ng-click=removeItem(item)><i class="glyphicon glyphicon-trash"></i></button>
                       </div>
                   </td>
                </tr>
              </tbody>
            </table>
           </div>
         </div>
      </div>
      <div class="panel-group">
         <div class="panel panel-default">
           <div class="panel-heading">
            <strong>  معلومات الزبون </strong>
           <a href="" > <span class="glyphicon glyphicon-edit"  data-toggle="modal" data-target="#ClientModal"></span> </a>
          </div>
           <div class="panel-body">
             <table class="table item-table">
               <tbody>
                 <tr>
                  <th>الاسم: </th>
                  <td>{{OrderList[index].Client.Name}}</td>
                </tr>
                 <tr>
                   <th>البريد الالكتروني: </th>
                   <td>{{OrderList[index].Client.Email}}</td>
                 </tr>
                 <tr>
                   <th>العنوان: </th>
                   <td>{{OrderList[index0].Client.Address}}</td>
                 </tr>
                 <tr>
                   <th> الهاتف:  </th>
                   <td>{{OrderList[index].Client.Tel1}}</td>
                 </tr>
                 <tr>
                   <th> الهاتف2:  </th>
                   <td>{{OrderList[index0].Client.Tel2}}</td>
                 </tr>
                 <tr>
                   <th> فاكس:  </th>
                   <td>{{OrderList[index].Client.Fax}}</td>
                 </tr>
               <tbody>
             </table>
           </div>
        </div>
      </div>

      <div class="panel-group">
         <div class="panel panel-default">
           <div class="panel-heading">
            <strong> عنوان الدفع </strong>
           <a href=""> <span class="glyphicon  glyphicon-plus"></span> </a>
          </div>
           <div class="panel-body">
           </div>
        </div>
      </div>

      <div class="panel-group">
         <div class="panel panel-default">
           <div class="panel-heading">
            <strong> عنوان النقل </strong>
           <a href=""> <span class="glyphicon  glyphicon-plus"></span> </a>
          </div>
           <div class="panel-body">
           </div>
        </div>
      </div>

      <div class="panel-group">
         <div class="panel panel-default">
           <div class="panel-heading">
            <strong> ملاحظات و مراجع </strong>
           <a href=""> <span class="glyphicon  glyphicon-plus"></span> </a>
          </div>
           <div class="panel-body">
           </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="panel-group">
       <div class="panel panel-success">
         <div class="panel-heading">
          <strong> السعر </strong>
         <a href=""> <span class="glyphicon glyphicon-plus"></span> </a>
       </div>
         <div class="panel-body">
           <table class="table pricing-table">
             <tbody>
               <tr>
                 <th> السعر الكلي: </th>
                 <td>{{OrderList[index].TotalPrice}}</td>
               </tr>
               <tr>
                 <th>
                 الدفعات:
                 </th>
                 <td ng-if="selectedOrder.Payments.length>0">
                   <table class="table payment-table">
                   <tbody>
                     <tr  ng-repeat="payment in selectedOrder.Payments track by $index" ng-cloak>
                       <td>{{payment.PaymentDate | date : 'd/MM/y'}}</td>
                       <td>{{payment.Ammount}}</td>
                     </tr>
                   </tbody>
                 </table>
                 </td>
                 <td ng-if="selectedOrder.Payments.length==0">
                    --
                 </td>
               </tr>
             </tbody>
           </table>
         </div>
          <div class="panel-footer">
            <table class="table item-table">
              <tbody>
                <tr>
                  <th> دفعة جديدة: </th>
                  <td>
                    <input type="number" class="form-control input-sm" id="paymentInput" min=0 max={{selectedOrder.Remaning}} ng-model="paymentInput" ng-init="0" placeholder="">
                  </td>
                  <td>
                    <button class="btn btn-success btn-sm" ng-click="addNewPayment(paymentInput)">
                      <i class="glyphicon glyphicon-plus"></i></button>
                </td>
                </tr>
                <tr>
                  <th> مجموع الدفعات:  </th>
                  <td colspan="2">{{selectedOrder.TotalPayments}}</td>
                </tr>
                <tr>
                  <th> الباقي:  </th>
                  <td colspan="2">{{selectedOrder.Remaning}}</td>
                </tr>
              </tbody>
            </table>
          </div>
       </div>
    </div>
  <div class="well">
    <h4>معلومات للزبون</h4>
    <hr>
    <button type="button" class="btn btn-primary btn-block" name="button">
      مراجعة المعلومات
      <span class="glyphicon glyphicon-search pull-right"></span>
    </button>
    <button type="button" class="btn btn-primary btn-block" name="button">
      بريد بالمعلومات للزبون
      <span class="glyphicon glyphicon-envelope pull-right"></span>
    </button>
    <hr>
    <button type="button" class="btn btn-default btn-block" name="button">
      معلومات اخرى
      <span class="glyphicon glyphicon-plus pull-right"></span>
    </button>
  </div>
    </div>
    <div class="col-md-3">
      <div class="well file-list">
        <div class="empty" ng-if=!OrderList[index].files.length ng-cloak>
          <span class="glyphicon glyphicon-file"></span>
          <h4>الملفات</h4>
          <p>لم يتم تحميل اي ملف.</p>
        </div>
        <div class="" ng-if=OrderList[index].files>
          <table class="table item-table">
            <tbody ng-repeat="file in OrderList[index].files track by $index" ng-cloak>
              <tr>
               <th>#{{$index+1}}</th>
               <td>{{file.fileName}}</td>
               <td>
                 <a href=../../../uploads/{{file.fileName}} target="_blank">link</a>
               </td>

             </tr>
           </tbody>
         </table>
        </div>
      </div>
      <label class="btn btn-block btn-default btn-lg"
             for="orderFile">
             اختر ملف

      </label>
      <hr/>

      <button class="btn btn-warning btn-block" ng-if='uploadButton' ng-click='uploadfile()'>
          <i class="glyphicon glyphicon-upload"></i>
          تحميل
      </button>
      <input type="file" class="hidden" name="orderFile" id="orderFile" onchange="angular.element(this).scope().fileChaned()">
    </div>
</div>


<!-- item modal -->
<div class="modal fade" id="itemModal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">العينة</h4>
      </div>
      <div class="modal-body">
        <table class="table item-table">
          <tbody>
            <tr>
             <th>العنصر: </th>
             <td>{{ItemToView.Name}}</td>
           </tr>
            <tr>
              <th>الحجم: </th>
              <td>{{ItemToView.Size}}</td>
            </tr>
            <tr>
            <th>لون الارضية: </th>
            <td>{{ItemToView.GColor}}</td>
            </tr>
            <tr>
              <th>لون الطباعة</th>
              <td>{{ItemToView.PColor}}</td>
            </tr>
            <tr>
              <th> معلومات اضافية:  </th>
              <td>{{ItemToView.Note}}</td>
            </tr>
            <tr>
              <th>رقم الطباعة: </th>
              <td>---</td>
            </tr>
          <tbody>
        </table>
        <table class="table item-table table-bordered table-condensed">
          <thead>
            <th>s</th>
            <th>m</th>
            <th>l</th>
            <th>xl</th>
            <th>xxl</th>
            <th>xxxl</th>
          </thead>
          <tbody>
            <tr>
              <td>{{ItemToView.s}}</td>
              <td>{{ItemToView.m}}</td>
              <td>{{ItemToView.l}}</td>
              <td>{{ItemToView.xl}}</td>
              <td>{{ItemToView.xxl}}</td>
              <td>{{ItemToView.xxxl}}</td>
            </tr>
          </tbody>
        </table>
        <br>
        <table class="table item-table table-bordered table-condensed">
          <thead>
            <th>4</th>
            <th>6</th>
            <th>8</th>
            <th>10</th>
            <th>12</th>
            <th>14</th>
            <th>16</th>
            <th>18</th>
          </thead>
          <tbody>
            <tr>
              <td>{{ItemToView[4]}}</td>
              <td>{{ItemToView[6]}}</td>
              <td>{{ItemToView[8]}}</td>
              <td>{{ItemToView[10]}}</td>
              <td>{{ItemToView[12]}}</td>
              <td>{{ItemToView[14]}}</td>
              <td>{{ItemToView[16]}}</td>
              <td>{{ItemToView[18]}}</td>

            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<!-- item modal -->
<div class="modal fade" id="ClientModal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">الزيون</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
        <div class="form-group">
          <label for="item" class="col-sm-1 col-xs-2 control-label pull-left">الاسم:</label>
          <div class="col-sm-8 pull-left">
            <input type="text" class="form-control input-sm" id="item" ng-model="Order.Client.Name" placeholder=""  >
          </div>
        </div>
        <div class="form-group">
          <label for="address" class="col-sm-1 col-xs-2 control-label pull-left">العنوان:</label>
          <div class="col-sm-8 pull-left">
            <input type="text" class="form-control input-sm" id="address" ng-model="Order.Client.Address" placeholder=""  >
          </div>
        </div>
        <div class="form-group">
          <label for="date" class="col-sm-1 col-xs-2 control-label pull-left"> التاريخ:</label>
          <div class="col-sm-8 pull-left">
            <input type="date" class="form-control input-sm" id="date" ng-model="Order.date" placeholder=""  >
          </div>
        </div>
        <div class="form-group">
          <label for="tel1" class="col-sm-1 col-xs-2 control-label pull-left">الهاتف1:</label>
          <div class="col-sm-8 pull-left">
            <input type="text" class="form-control input-sm" id="tel1" ng-model="Order.Client.Tel1" placeholder=""  >
          </div>
        </div>
        <div class="form-group">
          <label for="tel2" class="col-sm-1 col-xs-2 control-label pull-left">الهاتف2:</label>
          <div class="col-sm-8 pull-left">
            <input type="text" class="form-control input-sm" id="tel2" ng-model="Order.Client.Tel2" placeholder=""  >
          </div>
        </div>
        <div class="form-group">
          <label for="fax" class="col-sm-1 col-xs-2 control-label pull-left">الفاكس:</label>
          <div class="col-sm-8 pull-left">
            <input type="text" class="form-control input-sm" id="fax" ng-model="Order.Client.Fax" placeholder=""  >
          </div>
        </div>
        <div class="form-group">
          <label for="email" class="col-sm-1 col-xs-2 control-label pull-left">البريد الالكتروني:</label>
          <div class="col-sm-8 pull-left">
            <input type="email" class="form-control input-sm" id="email" ng-model="Order.Client.Email" placeholder=""  >
          </div>
        </div>
      </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
</div>
