<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">طلبات</a>
  </div>

<!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li ><a href="#"><span class="glyphicon glyphicon-menu-hamburger"></span>
      <li ><a href="#"><span class="glyphicon glyphicon-sort-by-attributes"></span>
      <li ><a href="/new"><span class="glyphicon glyphicon-plus"></span>
      </a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <label for="order-status">  وضع الطلب:</label>
          <div class="btn-group btn-group-sm order-status" id="order-status">
            <button type="button" class="btn btn-primary">لم يبدأ</button>
            <button type="button" class="btn btn-primary">تحت التنفيذ</button>
            <button type="button" class="btn btn-primary">مكتمل</button>
          </div>
      </li>
      <li class="empty-li"> </li>
      <li>
        <label for="payment-status">وضع الدفع</label>
        <div class="btn-group btn-group-sm payment-status" id="order-status">
          <button type="button" class="btn btn-primary"> غير مدفوع</button>
          <button type="button" class="btn btn-primary"> جزئي</button>
          <button type="button" class="btn btn-primary">كلي</button>
        </div>
      </li>
      <li>
        <a>
          <b> رقم الطلب: #100
          <sub>10/6/2017</sub>
        </b>
        </a>
      </li>
    </ul>
  </div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->
</nav>

<div class="container ">
  <div class="row">
    <div class="col-md-3">
      <div class="orders well">
        <div class="order-data">
          <div class="order-number"> رقم الطلب: 100 </div>
          <small class="order-date">15/10/2017</small>
          <span class="label label-success">Success</span>
          <span class="label label-danger">Danger</span>
          <div class="order-item"> 200 علبة </div>
          <div class="order-total"> المجموع: 100$ </div>
        </div>

        <div class="order-data">
          <div class="order-number"> رقم الطلب: 100 </div>
          <small class="order-date">15/10/2017</small>
          <span class="label label-danger">Danger</span>
          <span class="label label-warning">warning</span>
          <div class="order-item"> 200 علبة </div>
          <div class="order-total"> المجموع: 100$ </div>
        </div>
        <div class="order-data">
          <div class="order-number"> رقم الطلب: 100 </div>
          <small class="order-date">15/10/2017</small>
          <span class="label label-danger">Danger</span>
          <span class="label label-danger">Danger</span>
          <div class="order-item"> 200 علبة </div>
          <div class="order-total"> المجموع: 100$ </div>
        </div>

      </div>
    </div>
    <div class="col-md-3">
        <div class="panel-group">
         <div class="panel panel-default">
           <div class="panel-heading">
            <strong>  طباعة العنصر </strong>
           <a href=""> <span class="glyphicon glyphicon-edit"></span> </a>
         </div>
           <div class="panel-body">
             <table class="table item-table">
               <tbody>
                 <tr>
                  <th>العنصر: </th>
                  <td>نصار</td>
                </tr>
                 <tr>
                   <th>الحجم: </th>
                   <td>12" × 15"</td>
                 </tr>
                 <tr>
                 <th> نوع الورق: </th>
                   <td> 4444 </td>
                 </tr>
                 <tr>
                   <th> اللون:  </th>
                   <td>زفت</td>
                 </tr>
                 <tr>
                   <th> الكمية:  </th>
                   <td>15000</td>
                 </tr>
                 <tr>
                   <th> السعر: </th>
                   <td>$500</td>
                 </tr>
                 <tr>
                   <th> معلومات اضافية:  </th>
                   <td>لالالا</td>
                 </tr>
                 <tr>
                   <th>رقم الطباعة: </th>
                   <td>1511</td>
                 </tr>
               <tbody>
             </table>
           </div>
         </div>
      </div>

      <div class="panel-group">
         <div class="panel panel-default">
           <div class="panel-heading">
            <strong>  معلومات الزبون </strong>
           <a href=""> <span class="glyphicon glyphicon-edit"></span> </a>
          </div>
           <div class="panel-body">
             nassar@nassar.com
           </div>
        </div>
      </div>

      <div class="panel-group">
         <div class="panel panel-default">
           <div class="panel-heading">
            <strong> عنوان الدفع </strong>
           <a href=""> <span class="glyphicon  glyphicon-plus"></span> </a>
          </div>
           <div class="panel-body">
           </div>
        </div>
      </div>

      <div class="panel-group">
         <div class="panel panel-default">
           <div class="panel-heading">
            <strong> عنوان النقل </strong>
           <a href=""> <span class="glyphicon  glyphicon-plus"></span> </a>
          </div>
           <div class="panel-body">
           </div>
        </div>
      </div>

      <div class="panel-group">
         <div class="panel panel-default">
           <div class="panel-heading">
            <strong> ملاحظات و مراجع </strong>
           <a href=""> <span class="glyphicon  glyphicon-plus"></span> </a>
          </div>
           <div class="panel-body">
           </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="panel-group">
       <div class="panel panel-success">
         <div class="panel-heading">
          <strong> السعر </strong>
         <a href=""> <span class="glyphicon glyphicon-edit"></span> </a>
       </div>
         <div class="panel-body">
           <table class="table pricing-table">
             <tbody>
               <tr>
                 <th> السعر: </th>
                 <td>$500</td>
               </tr>
               <tr>
                 <th> معلومات اضافية:  </th>
                 <td>لالالا</td>
               </tr>
             <tbody>
           </table>
         </div>
          <div class="panel-footer">
            <table class="table item-table">
              <tbody>
                <tr>
                  <th> المجموع:  </th>
                  <td>لالالا</td>
                </tr>
              <tbody>
            </table>
          </div>
       </div>
    </div>
    <div class="panel-group">
     <div class="panel panel-success">
       <div class="panel-body">
         <table class="table pricing-table">
           <tbody>
             <tr>
               <th> مدفوع جزئياً: </th>
               <td>$0</td>
             </tr>
           <tbody>
         </table>
       </div>
        <div class="panel-footer">
          <table class="table pricing-table">
            <tbody>
              <tr>
                <th> الرصيد: </th>
                <td>$200</td>
              </tr>
            <tbody>
          </table>
        </div>
     </div>
  </div>
  <div class="well">
    <h4>معلومات للزبون</h4>
    <hr>
    <button type="button" class="btn btn-primary btn-block" name="button">
      مراجعة المعلومات
      <span class="glyphicon glyphicon-search pull-right"></span>
    </button>
    <button type="button" class="btn btn-primary btn-block" name="button">
      بريد بالمعلومات للزبون
      <span class="glyphicon glyphicon-envelope pull-right"></span>
    </button>
    <hr>
    <button type="button" class="btn btn-default btn-block" name="button">
      معلومات اخرى
      <span class="glyphicon glyphicon-plus pull-right"></span>
    </button>
  </div>
    </div>
    <div class="col-md-3">
      <div class="well file-list">
        <div class="empty">
          <span class="glyphicon glyphicon-file"></span>
          <h4>الملفات</h4>
          <p>لم يتم تحميل اي ملف.</p>
        </div>
      </div>
    </div>
</div>
