<div ng-show="loadme" ng-cloak>
  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>

<!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li ng-hide='User.Role=="WORKSHOP"'><a href="/new" ><span class="glyphicon glyphicon-plus"></span>
      </a></li>
      <li ><a href="" ng-click="Logout()"><span class="glyphicon glyphicon-off"></span>
      </a></li>
      <li ng-if='User.Role=="ADMIN"' ><a href="/users" ><span class="glyphicon glyphicon-user"></span>
      </a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li ng-if="!PriceEditMode && User.Role=='ADMIN' || User.Role=='SALES'">
        <label for="order-status">  وضع الطلب:</label>
          <div class="btn-group btn-group-sm order-status" id="order-status">
            <button type="button" class="btn btn-primary" ng-click="ChangeOrderStatus(1)" ng-class="{true: 'btn-danger'}[selectedOrder.Status == 1 || selectedOrder.Status == null]">لم يبدأ</button>
            <button type="button" class="btn btn-primary" ng-click="ChangeOrderStatus(2)" ng-class="{true: 'btn-warning'}[selectedOrder.Status == 2]"> قيد التنفيذ </button>
            <button type="button" class="btn btn-primary"  ng-click="ChangeOrderStatus(3)" ng-class="{true: 'btn-success'}[selectedOrder.Status == 3]">مكتمل</button>
          </div>
      </li>
      <li class="empty-li"> </li>
      <li ng-if="User.Role=='ADMIN' || User.Role=='SALES'">
        <label for="payment-status">وضع الدفع:</label>
        <div class="btn-group btn-group-sm payment-status" id="order-status">
          <button type="button" class="btn btn-primary" ng-class="{true: 'btn-danger'}[selectedOrder.OrderPaymentStatus == 1 || selectedOrder.Status == null]" disabled> غير مدفوع</button>
          <button type="button" class="btn btn-primary" ng-class="{true: 'btn-warning'}[selectedOrder.OrderPaymentStatus == 2]" disabled> جزئي</button>
          <button type="button" class="btn btn-primary" ng-click="addNewPayment(selectedOrder.Remaning)" ng-class="{true: 'btn-success'}[selectedOrder.OrderPaymentStatus == 3]" >كلي</button>
        </div>
      </li>
      <li>
        <a>
          <b> رقم الطلب: #{{selectedOrder.SerialNumber}}
          <sub  >{{selectedOrder.date | date : 'd/MM/y'}}</sub>
        </b>
        </a>
      </li>
      <li>
        <a>
          <b>المستخدم
          <sub>{{User.UserName}}</sub>
        </b>
        </a>
      </li>
      <li>
        <a class="navbar-brand" href="#">AWS</a>
      </li>

    </ul>
  </div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->
</nav>

<div class="container ">
  <div class="row">
    <div class="col-md-3">
      <div class="search well">
        <input type="text" ng-model="search" class="form-control" placeholder="اكتب للبحث بالطلبات .."  />
            <div class="btn-group btn-group-sm sorting-group">
                <button class="btn" ng-click="sort('SerialNumber')">الرقم
                  <span class="glyphicon sort-icon" ng-show="sortBy=='SerialNumber'" ng-class="{'glyphicon-sort-by-order':reverse,'glyphicon-sort-by-order-alt':!reverse}"></span>
                </button>
                <button class="btn" ng-click="sort('date')">التاريخ
                  <span class="glyphicon sort-icon" ng-show="sortBy=='date'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                </button>
                <button class="btn" ng-click="sort('ClientId')">الزبون
                  <span class="glyphicon sort-icon" ng-show="sortBy=='ClientId'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                </button>
                <button class="btn" ng-click="sort('TotalPrice')">السعر
                  <span class="glyphicon sort-icon" ng-show="sortBy=='TotalPrice'" ng-class="{'glyphicon-sort-by-order':reverse,'glyphicon-sort-by-order-alt':!reverse}"></span>
                </button>
            </div>
      </div>
      <div class="orders well" >
        <div class="order-data"
         ng-repeat="Order in OrderList|orderBy:sortBy:!reverse|filter:search"
         ng-class="{true: 'active'}[selectedOrder._id == Order._id]"
         ng-cloak>
          <div class="order-link" ng-click=selectOrder(Order._id)>
            <div class="order-number"> رقم الطلب: {{Order.SerialNumber}} </div>
            <small class="order-date">{{Order.date | date : 'EEE, d/MMM/y'}}</small>
            <div >
              <span class="label label-success" ng-if="Order.Status==3">مكتمل</span>
              <span class="label label-warning" ng-if="Order.Status==2">قيد التنفيذ</span>
              <span class="label label-danger" ng-if="Order.Status==1">لم يبدأ</span>
            </div>
            <div ng-if="User.Role!='WORKSHOP'">
              <span class="label label-success" ng-if="Order.OrderPaymentStatus==3">كلي</span>
              <span class="label label-warning" ng-if="Order.OrderPaymentStatus==2">جزئي</span>
              <span class="label label-danger" ng-if="Order.OrderPaymentStatus==1">غير مدفوع</span>
            </div>
            <div class="order-item" ng-if="User.Role!='WORKSHOP'"> عدد العينات: {{Order.Items.length}}</div>
            <div class="order-total" ng-if="User.Role!='WORKSHOP'"> السعر الكلي: {{Order.TotalPrice}} </div>
            <div class="order-total" ng-if="User.Role=='ADMIN' || User.Role=='GRAPHIC'">
              <button class="btn btn-sm btn-danger"
              data-toggle="modal"
              data-target="#deleteOrderModel"
              ng-click="PutOrderToDelete(Order._id)" >
                <span class='glyphicon glyphicon-trash'></span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
        <div class="panel-group">
         <div class="panel panel-default">
           <div class="panel-heading">
            <strong> قائمة العينات</strong>
           <a href="" ng-if="User.Role!='WORKSHOP'" data-toggle="modal" data-target="#AdditemModal"><span class="glyphicon glyphicon-plus"></span> </a>
         </div>
           <div class="panel-body">
             <table class="table item-table">
               <tbody>
                 <tr ng-if="selectedOrder.Items.length>0 " ng-repeat="item in selectedOrder.Items" ng-hide="(User.Role=='WORKSHOP' && !(item.Status=='APPROVED' || item.Status=='CURRENT' || item.Status=='READY' || item.Status=='COMPLETED'))">
                  <th>#{{$index+1}}</th>
                  <td>
                    <select class="form-control" id="Status" ng-model="item.Status" ng-change="ChangeitemStatus(item, item.Status)">
                        <option value="APPROVED" ng-if="User.Role=='ADMIN' || User.Role=='GRAPHIC' || User.Role=='GRAPHIC'">موافق عليه</option>
                        <option value="CURRENT" ng-if="User.Role=='ADMIN' || User.Role=='GRAPHIC' || User.Role=='WORKSHOP'">قيد التنفيذ</option>
                        <option value="READY"  ng-if="User.Role=='ADMIN' || User.Role=='GRAPHIC' || User.Role=='WORKSHOP'">جاهز للتسليم</option>
                        <option value="COMPLETED"  ng-if="User.Role=='ADMIN' || User.Role=='GRAPHIC' || User.Role=='WORKSHOP'">تم</option>
                      </select>
                  </td>
                  <td>
                    <div class="pull-right">
                    <button class="btn btn-primary btn-sm"
                       data-toggle="modal"
                       data-target="#itemModal"
                       ng-click=viewItem(item)><i class="glyphicon glyphicon-eye-open"></i></button>
                     <button class="btn btn-warning btn-sm"
                        data-toggle="modal"
                        data-target="#EdititemModal"
                        ng-if="User.Role=='ADMIN' || User.Role=='GRAPHIC' || User.Role=='SALES'"
                        ng-click=PutItemToEdit(item)><i class="glyphicon glyphicon-edit"></i></button>
                    <button class="btn btn-danger btn-sm"
                       ng-if="User.Role=='ADMIN'"
                       ng-click="removeItem(item._id)"><i class="glyphicon glyphicon-trash"></i></button>
                       </div>
                   </td>
                </tr>
                <tr ng-if="selectedOrder.Items.length==0">
                  <td> لا يوجد عينات في هذا الطلب</td>
                </tr>
              </tbody>
            </table>
           </div>
         </div>
      </div>
      <div class="panel-group" ng-hide='User.Role=="WORKSHOP"'>
         <div class="panel panel-default">
           <div class="panel-heading">
            <strong>  معلومات الزبون </strong>
           <a href="" ng-if="User.Role!='WORKSHOP'"> <span class="glyphicon glyphicon-edit"  data-toggle="modal" data-target="#ClientModal"></span> </a>
          </div>
           <div class="panel-body">
             <table class="table item-table">
               <tbody ng-if=selectedOrder.Client>
                 <tr>
                  <th>الاسم: </th>
                  <td>{{selectedOrder.Client.Name}}</td>
                </tr>
                 <tr>
                   <th>البريد الالكتروني: </th>
                   <td>{{selectedOrder.Client.Email}}</td>
                 </tr>
                 <tr>
                   <th>العنوان: </th>
                   <td>{{selectedOrder.Client.Address}}</td>
                 </tr>
                 <tr>
                   <th> الهاتف:  </th>
                   <td>{{selectedOrder.Client.Tel1}}</td>
                 </tr>
                 <tr>
                   <th> الهاتف2:  </th>
                   <td>{{selectedOrder.Client.Tel2}}</td>
                 </tr>
                 <tr>
                   <th> فاكس:  </th>
                   <td>{{selectedOrder.Client.Fax}}</td>
                 </tr>
               <tbody>
                  <tbody ng-if=!selectedOrder.Client>
                    <tr>
                      <td>
                        لا يوجد زبون لهذا الطلب
                      </td>
                    </tr>
                  </tbody>
             </table>
           </div>
        </div>
      </div>

      <!-- <div class="panel-group">
         <div class="panel panel-default">
           <div class="panel-heading">
            <strong> عنوان الدفع </strong>
           <a href=""> <span class="glyphicon  glyphicon-plus"></span> </a>
          </div>
           <div class="panel-body">
           </div>
        </div>
      </div>

      <div class="panel-group">
         <div class="panel panel-default">
           <div class="panel-heading">
            <strong> عنوان النقل </strong>
           <a href=""> <span class="glyphicon  glyphicon-plus"></span> </a>
          </div>
           <div class="panel-body">
           </div>
        </div>
      </div>

      <div class="panel-group">
         <div class="panel panel-default">
           <div class="panel-heading">
            <strong> ملاحظات و مراجع </strong>
           <a href=""> <span class="glyphicon  glyphicon-plus"></span> </a>
          </div>
           <div class="panel-body">
           </div>
        </div>
      </div> -->
    </div>
    <div class="col-md-3" ng-if="User.Role!='WORKSHOP'">
      <div class="panel-group">
       <div class="panel panel-success">
         <div class="panel-heading">
          <strong> السعر </strong>
       </div>
         <div class="panel-body table-responsive">
           <table class="table pricing-table">
             <tbody>
               <tr>
                 <th> السعر الكلي: </th>
                 <td ng-if="!PriceEditMode">{{selectedOrder.TotalPrice}}
                 </td>
                 <td ng-if="PriceEditMode">
                   <input type="number"
                    class="form-control input-sm"
                     id="PriceToEdit"
                      min={{selectedOrder.TotalPayments}}
                      ng-model="selectedOrder.TotalPrice"
                      ng-init="selectedOrder.TotalPrice"
                      placeholder="">

                 </td>

                 <td ng-if="!PriceEditMode && User.Role=='ADMIN' || User.Role=='SALES'">
                   <button class="btn btn-sm btn-warning" ng-click="EditPrice()">
                     <span class="glyphicon glyphicon-edit">
                     </span>
                   </button>
                </td>
                <td ng-if="PriceEditMode" ng-if="!PriceEditMode && User.Role=='ADMIN' || User.Role=='SALES'">
                   <button class="btn btn-sm btn-success" ng-click="SavePrice(selectedOrder._id,selectedOrder.TotalPrice)">
                     <span class="glyphicon glyphicon-ok">
                     </span>
                   </button>
                </td>
               </tr>
             </tbody>
           </table>
          <table class="table pricing-table">
            <tr>
              <th>
              الدفعات:
              </th>
              <td ng-if="selectedOrder.Payments.length>0">
                <table class="table payment-table" id="payment-table ">
                <tbody class="payment-body" id="payment-body">
                  <tr ng-repeat="payment in selectedOrder.Payments track by $index" ng-cloak>
                    <td>{{payment.PaymentDate | date : 'd/MM/y'}}</td>
                    <td>{{payment.Ammount}}</td>
                    <td>
                      <button class="btn btn-danger btn-sm" ng-if="!PriceEditMode && User.Role=='ADMIN' || User.Role=='SALES'" ng-click=removePayment(payment._id) >
                       <span class="glyphicon glyphicon-trash"></span>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
              </td>
              <td ng-if="selectedOrder.Payments.length==0">
                 --
              </td>
            </tr>
          </table>
         </div>
          <div class="panel-footer">
            <table class="table item-table">
              <tbody>
                <tr ng-if="selectedOrder.Remaning>0">
                  <th> دفعة جديدة: </th>
                  <td>
                    <input type="number" class="form-control input-sm" id="paymentInput" min=0 max={{selectedOrder.Remaning}} ng-model="paymentInput" ng-init="paymentInput=0" placeholder="">
                  </td>
                  <td>
                    <button class="btn btn-success btn-sm" ng-click=addNewPayment(paymentInput)>
                      <i class="glyphicon glyphicon-plus"></i></button>
                </td>
                </tr>
                <tr>
                  <th> مجموع الدفعات:  </th>
                  <td colspan="2">{{selectedOrder.TotalPayments}}</td>
                </tr>
                <tr>
                  <th> الباقي:  </th>
                  <td colspan="2">{{selectedOrder.Remaning}}</td>
                </tr>
              </tbody>
            </table>
          </div>
       </div>
    </div>
  <div class="well">
    <h4>معلومات للزبون</h4>
    <button type="button" class="btn btn-primary btn-block" name="button">
      مراجعة المعلومات
      <span class="glyphicon glyphicon-search pull-right"></span>
    </button>
    <button type="button" class="btn btn-primary btn-block" name="button">
      بريد بالمعلومات للزبون
      <span class="glyphicon glyphicon-envelope pull-right"></span>
    </button>
    <button type="button" class="btn btn-default btn-block" name="button">
      معلومات اخرى
      <span class="glyphicon glyphicon-plus pull-right"></span>
    </button>
  </div>
    </div>
    <div class="col-md-3">
      <div class="well file-list">
        <div class="empty" ng-show="selectedOrder.files.length==0"  ng-cloak>
          <span class="glyphicon glyphicon-file"></span>
          <h4>الملفات</h4>
          <p>لم يتم تحميل اي ملف.</p>
        </div>
        <div ng-show="selectedOrder.files.length>0"  ng-cloak>
          <table class="table item-table file-table">
            <tbody>
              <tr ng-repeat="file in selectedOrder.files track by $index" >
               <th>#{{$index+1}}</th>
               <td><a href=../../../uploads/{{file.fileName}} target="_blank">{{file.fileName}}</a></td>
             </tr>
           </tbody>
         </table>
        </div>
      </div>
      <label class="btn btn-block btn-default btn-lg"
             ng-hide='User.Role=="WORKSHOP"'
             for="orderFile">
             اختر ملف

      </label>
      <hr/>
      <button class="btn btn-warning btn-block" ng-if='uploadButton' ng-click='uploadfile()'>
          <i class="glyphicon glyphicon-upload"></i>
          تحميل
      </button>
      <input type="file" class="hidden" name="orderFile" id="orderFile" onchange="angular.element(this).scope().fileChaned()">
    </div>
</div>


<!-- item modal -->
<div class="modal fade" id="itemModal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">بيانات العينة</h4>
      </div>
      <div class="modal-body" id="itemModalBody">
        <table class="table table-striped table-bordered table-hover table-condensed">
          <tbody>
            <tr>
             <th>العنصر: </th>
             <td>{{ItemToView.Name}}</td>
           </tr>
            <tr>
              <th>الحجم: </th>
              <td>{{ItemToView.Size}}</td>
            </tr>
            <tr>
            <th>لون الارضية: </th>
            <td>{{ItemToView.GColor}}</td>
            </tr>
            <tr>
              <th>لون الطباعة</th>
              <td>{{ItemToView.PColor}}</td>
            </tr>
            <tr>
              <th> بلايز </th>
              <td>
                <span  ng-class="{true: 'glyphicon glyphicon-ok text-success', false:'glyphicon glyphicon-remove text-danger',null:'glyphicon glyphicon-remove text-danger' }[ItemToView.Tshit]"></span>
              </td>
            </tr>
            <tr>
              <th> معلومات اضافية:  </th>
              <td>{{ItemToView.Note}}</td>
            </tr>
            <tr>
              <th>رقم الطباعة: </th>
              <td>---</td>
            </tr>
          <tbody>
        </table>
        <table class="table table-striped table-bordered table-hover table-condensed" ng-if="ItemToView.Tshit">
          <thead>
            <th>الطباعة على الظهر</th>
            <th>الطباعة على الصدر</th>
            <th>الطباعة على الكم</th>
            <th>الطباعة على الكتف</th>
          </thead>
          <tbody>
            <td>
              <span  ng-class="{true: 'glyphicon glyphicon-ok text-success', false:'glyphicon glyphicon-remove text-danger',null:'glyphicon glyphicon-remove text-danger' }[ItemToView.PrintOnBack]"></span>
            </td>
            <td>
              <span  ng-class="{true: 'glyphicon glyphicon-ok text-success', false:'glyphicon glyphicon-remove text-danger',null:'glyphicon glyphicon-remove text-danger' }[ItemToView.PrintOnChest]"></span>
            </td>
            <td>
              <span  ng-class="{true: 'glyphicon glyphicon-ok text-success', false:'glyphicon glyphicon-remove text-danger',null:'glyphicon glyphicon-remove text-danger' }[ItemToView.PrintOnSleeve]"></span>
            </td>
            <td>
              <span  ng-class="{true: 'glyphicon glyphicon-ok text-success', false:'glyphicon glyphicon-remove text-danger',null:'glyphicon glyphicon-remove text-danger' }[ItemToView.PrintOnShoulder]"></span>
            </td>
          </tbody>
        </table>
        <table class="table table-striped table-bordered table-hover table-condensed" ng-if="ItemToView.Tshit">
          <thead>
            <th>s</th>
            <th>m</th>
            <th>l</th>
            <th>xl</th>
            <th>xxl</th>
            <th>xxxl</th>
          </thead>
          <tbody>
            <tr>
              <td>{{ItemToView.s}}</td>
              <td>{{ItemToView.m}}</td>
              <td>{{ItemToView.l}}</td>
              <td>{{ItemToView.xl}}</td>
              <td>{{ItemToView.xxl}}</td>
              <td>{{ItemToView.xxxl}}</td>
            </tr>
          </tbody>
        </table>
        <br>
        <table class="table table-striped table-bordered table-hover table-condensed" ng-if="ItemToView.Tshit">
          <thead>
            <th>4</th>
            <th>6</th>
            <th>8</th>
            <th>10</th>
            <th>12</th>
            <th>14</th>
            <th>16</th>
            <th>18</th>
          </thead>
          <tbody>
            <tr>
              <td>{{ItemToView[4]}}</td>
              <td>{{ItemToView[6]}}</td>
              <td>{{ItemToView[8]}}</td>
              <td>{{ItemToView[10]}}</td>
              <td>{{ItemToView[12]}}</td>
              <td>{{ItemToView[14]}}</td>
              <td>{{ItemToView[16]}}</td>
              <td>{{ItemToView[18]}}</td>

            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">اغلاق</button>
        <button class="btn btn-primary btn-sm"
           ng-click="printDiv('itemModalBody')">طباعة</button>
      </div>
    </div>

  </div>
</div>

<!--Client modal -->
<div class="modal fade" id="ClientModal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">الزبون</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
        <div class="form-group">
          <label for="item" class="col-sm-1 col-xs-2 control-label pull-left">الاسم:</label>
          <div class="col-sm-8 pull-left">
            <input type="text" class="form-control input-sm" id="item" ng-model="selectedOrder.Client.Name" placeholder=""  >
          </div>
        </div>
        <div class="form-group">
          <label for="address" class="col-sm-1 col-xs-2 control-label pull-left">العنوان:</label>
          <div class="col-sm-8 pull-left">
            <input type="text" class="form-control input-sm" id="address" ng-model="selectedOrder.Client.Address" placeholder=""  >
          </div>
        </div>
        <div class="form-group">
          <label for="tel1" class="col-sm-1 col-xs-2 control-label pull-left">الهاتف1:</label>
          <div class="col-sm-8 pull-left">
            <input type="text" class="form-control input-sm" id="tel1" ng-model="selectedOrder.Client.Tel1" placeholder=""  >
          </div>
        </div>
        <div class="form-group">
          <label for="tel2" class="col-sm-1 col-xs-2 control-label pull-left">الهاتف2:</label>
          <div class="col-sm-8 pull-left">
            <input type="text" class="form-control input-sm" id="tel2" ng-model="selectedOrder.Client.Tel2" placeholder=""  >
          </div>
        </div>
        <div class="form-group">
          <label for="fax" class="col-sm-1 col-xs-2 control-label pull-left">الفاكس:</label>
          <div class="col-sm-8 pull-left">
            <input type="text" class="form-control input-sm" id="fax" ng-model="selectedOrder.Client.Fax" placeholder=""  >
          </div>
        </div>
        <div class="form-group">
          <label for="email" class="col-sm-1 col-xs-2 control-label pull-left">البريد الالكتروني:</label>
          <div class="col-sm-8 pull-left">
            <input type="email" class="form-control input-sm" id="email" ng-model="selectedOrder.Client.Email" placeholder=""  >
          </div>
        </div>
      </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-praimary" ng-click=EditClient(selectedOrder.Client) data-dismiss="modal"> حفظ </button>

      </div>
    </div>

  </div>
</div>

<!-- Add new Item-->
<div class="modal fade" id="AdditemModal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"> اضافة عينة </h4>
      </div>
      <div class="modal-body">

        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="item">العينة</label>
              <input type="text"class="form-control input-sm" id="item" ng-model="item.Name" placeholder="">
            </div>
            <div class="form-group">
              <label for="quantity">الكمية</label>
              <input type="text"class="form-control input-sm" id="quantity" ng-model="item.Quantity" placeholder="">
            </div>
            <div class="form-group">
              <label for="bgcolor">لون الارضية</label>
              <input type="text"class="form-control input-sm" id="bgcolor" ng-model="item.GColor" placeholder="">
            </div>
            <div class="form-group" ng-if="!item.Tshit">
              <label for="bgcolor" > الحجم </label>
              <input type="text"class="form-control input-sm" id="bgcolor" ng-model="item.Size" placeholder="">
            </div>
            <div class="checkbox" ng-show="item.Tshit">
            <label>
              <input class="pull-right" type="checkbox" ng-model="item.PrintOnBack">
              <span class="check-box-span">الطباعة على الظهر </span>
            </label>
            </div>
            <div class="checkbox" ng-show="item.Tshit">
            <label>
              <input class="pull-right" type="checkbox" ng-model="item.PrintOnChest">
              <span class="check-box-span">الطباعة على الصدر </span>
            </label>
            </div>
            <div class="checkbox" ng-show="item.Tshit">
            <label>
              <input class="pull-right" type="checkbox" ng-model="item.PrintOnSleeve">
              <span class="check-box-span">الطباعة على الكم </span>
            </label>
            </div>
            <div class="checkbox" ng-show="item.Tshit">
            <label>
              <input class="pull-right" type="checkbox" ng-model="item.PrintOnShoulder">
              <span class="check-box-span">الطباعة على الكتف </span>
            </label>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="extra">معلومات اضافية</label>
              <textarea class="form-control text-info" rows="3"class="form-control input-sm" ng-model="item.Note" id="extra" placeholder=""></textarea>
            </div>
            <div class="form-group">
              <label for="pcolor">لون الطباعة</label>
              <input type="text"class="form-control input-sm" id="pcolor" ng-model="item.PColor" placeholder="">
            </div>
          <div class="checkbox">
          <label>
            <input class="pull-right" type="checkbox" ng-model="item.Tshit">
            <span class="check-box-span">بلايز</span>
          </label>
        </div>
          </div>
        </div>

        <div class="row" ng-if="item.Tshit">
          <div class="col-md-2">
            <div class="form-group">
              <label for="pcolor">S</label>
              <input type="number"class="form-control input-sm" id="pcolor" ng-model="item['s']" ng-init="item['s']=0" placeholder="">
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label for="pcolor">M</label>
              <input type="number"class="form-control input-sm" id="pcolor" ng-model="item['m']" ng-init="item['m']=0" placeholder="">
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label for="pcolor">L</label>
              <input type="number"class="form-control input-sm" id="pcolor" ng-model="item['l']" ng-init="item['l']=0" placeholder="">
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label for="pcolor">XL</label>
              <input type="number"class="form-control input-sm" id="pcolor" ng-model="item['xl']" ng-init="item['xl']=0" placeholder="">
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label for="pcolor">XXL</label>
              <input type="number"class="form-control input-sm" id="pcolor" ng-model="item['xxl']" ng-init="item['xxl']=0" placeholder="">
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label for="pcolor">XXL</label>
              <input type="number"class="form-control input-sm" id="pcolor" ng-model="item['xxxl']" ng-init="item['xxxl']=0" placeholder="">
            </div>
          </div>
        </div>

        <div class="row" ng-if="item.Tshit">
          <div class="col-md-2">
            <div class="form-group">
              <label for="pcolor">4</label>
              <input type="number"class="form-control input-sm" id="pcolor" ng-model="item['4']" ng-init="item['4']=0" placeholder="">
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label for="pcolor">6</label>
              <input type="number"class="form-control input-sm" id="pcolor" ng-model="item['6']" ng-init="item['6']=0" placeholder="">
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label for="pcolor">8</label>
              <input type="number"class="form-control input-sm" id="pcolor" ng-model="item['8']" ng-init="item['8']=0" placeholder="">
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label for="pcolor">10</label>
              <input type="number"class="form-control input-sm" id="pcolor" ng-model="item['10']" ng-init="item['10']=0" placeholder="">
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label for="pcolor">12</label>
              <input type="number"class="form-control input-sm" id="pcolor" ng-model="item['12']" ng-init="item['12']=0" placeholder="">
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label for="pcolor">14</label>
              <input type="number"class="form-control input-sm" id="pcolor" ng-model="item['14']" ng-init="item['14']=0" placeholder="">
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label for="pcolor">16</label>
              <input type="number"class="form-control input-sm" id="pcolor" ng-model="item['16']" ng-init="item['16']=0" placeholder="">
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label for="pcolor">18</label>
              <input type="number"class="form-control input-sm" id="pcolor" ng-model="item['18']" ng-init="item['18']=0" placeholder="">
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">خروج</button>
        <button type="button" class="btn btn-praimary" ng-click=addNewItem(item) data-dismiss="modal">اضف العينة</button>
        </div>
      </div>
    </div>

  </div>


  <!-- Edit Item-->
  <div class="modal fade" id="EdititemModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"> تعديل العينة  </h4>
        </div>
        <div class="modal-body">

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="item">العينة</label>
                <input type="text"class="form-control input-sm" id="item" ng-model="itemToEdit.Name" placeholder="">
              </div>
              <div class="form-group">
                <label for="quantity">الكمية</label>
                <input type="text"class="form-control input-sm" id="quantity" ng-model="itemToEdit.Quantity" placeholder="">
              </div>
              <div class="form-group">
                <label for="bgcolor">لون الارضية</label>
                <input type="text"class="form-control input-sm" id="bgcolor" ng-model="itemToEdit.GColor" placeholder="">
              </div>
              <div class="form-group" ng-if="!itemToEdit.Tshit">
                <label for="bgcolor"> الحجم </label>
                <input type="text"class="form-control input-sm" id="bgcolor" ng-model="itemToEdit.Size" placeholder="">
              </div>
              <div class="checkbox" ng-show="itemToEdit.Tshit">
              <label>
                <input class="pull-right" type="checkbox" ng-model="itemToEdit.PrintOnBack">
                <span class="check-box-span">الطباعة على الظهر </span>
              </label>
              </div>
              <div class="checkbox" ng-show="itemToEdit.Tshit">
              <label>
                <input class="pull-right" type="checkbox" ng-model="itemToEdit.PrintOnChest">
                <span class="check-box-span">الطباعة على الصدر </span>
              </label>
              </div>
              <div class="checkbox" ng-show="itemToEdit.Tshit">
              <label>
                <input class="pull-right" type="checkbox" ng-model="itemToEdit.PrintOnSleeve">
                <span class="check-box-span">الطباعة على الكم </span>
              </label>
              </div>
              <div class="checkbox" ng-show="itemToEdit.Tshit">
              <label>
                <input class="pull-right" type="checkbox" ng-model="itemToEdit.PrintOnShoulder">
                <span class="check-box-span">الطباعة على الكتف </span>
              </label>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="extra">معلومات اضافية</label>
                <textarea class="form-control text-info" rows="3"class="form-control input-sm" ng-model="itemToEdit.Note" id="extra" placeholder=""></textarea>
              </div>
              <div class="form-group">
                <label for="pcolor">لون الطباعة</label>
                <input type="text"class="form-control input-sm" id="pcolor" ng-model="itemToEdit.PColor" placeholder="">
              </div>
              <div class="checkbox">
              <label>
                <input class="pull-right" type="checkbox" ng-model="itemToEdit.Tshit">
                <span class="check-box-span">بلايز</span>
              </label>
            </div>
            </div>
          </div>

          <div class="row" ng-if="itemToEdit.Tshit">
            <div class="col-md-2">
              <div class="form-group">
                <label for="pcolor">S</label>
                <input type="number"class="form-control input-sm" id="pcolor" ng-model="itemToEdit['s']" ng-init="itemToEdit['s']=0" placeholder="">
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label for="pcolor">M</label>
                <input type="number"class="form-control input-sm" id="pcolor" ng-model="itemToEdit['m']" ng-init="itemToEdit['m']=0" placeholder="">
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label for="pcolor">L</label>
                <input type="number"class="form-control input-sm" id="pcolor" ng-model="itemToEdit['l']" ng-init="itemToEdit['l']=0" placeholder="">
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label for="pcolor">XL</label>
                <input type="number"class="form-control input-sm" id="pcolor" ng-model="itemToEdit['xl']" ng-init="itemToEdit['xl']=0" placeholder="">
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label for="pcolor">XXL</label>
                <input type="number"class="form-control input-sm" id="pcolor" ng-model="itemToEdit['xxl']" ng-init="itemToEdit['xxl']=0" placeholder="">
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label for="pcolor">XXL</label>
                <input type="number"class="form-control input-sm" id="pcolor" ng-model="itemToEdit['xxxl']" ng-init="itemToEdit['xxxl']=0" placeholder="">
              </div>
            </div>
          </div>

          <div class="row" ng-if="itemToEdit.Tshit">
            <div class="col-md-2">
              <div class="form-group">
                <label for="pcolor">4</label>
                <input type="number"class="form-control input-sm" id="pcolor" ng-model="itemToEdit['4']" ng-init="itemToEdit['4']=0" placeholder="">
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label for="pcolor">6</label>
                <input type="number"class="form-control input-sm" id="pcolor" ng-model="itemToEdit['6']" ng-init="itemToEdit['6']=0" placeholder="">
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label for="pcolor">8</label>
                <input type="number"class="form-control input-sm" id="pcolor" ng-model="itemToEdit['8']" ng-init="itemToEdit['8']=0" placeholder="">
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label for="pcolor">10</label>
                <input type="number"class="form-control input-sm" id="pcolor" ng-model="itemToEdit['10']" ng-init="itemToEdit['10']=0" placeholder="">
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label for="pcolor">12</label>
                <input type="number"class="form-control input-sm" id="pcolor" ng-model="itemToEdit['12']" ng-init="itemToEdit['12']=0" placeholder="">
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label for="pcolor">14</label>
                <input type="number"class="form-control input-sm" id="pcolor" ng-model="itemToEdit['14']" ng-init="itemToEdit['14']=0" placeholder="">
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label for="pcolor">16</label>
                <input type="number"class="form-control input-sm" id="pcolor" ng-model="itemToEdit['16']" ng-init="itemToEdit['16']=0" placeholder="">
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label for="pcolor">18</label>
                <input type="number"class="form-control input-sm" id="pcolor" ng-model="itemToEdit['18']" ng-init="itemToEdit['18']=0" placeholder="">
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">خروج</button>
          <button type="button" class="btn btn-praimary" ng-click=EditItem(itemToEdit) data-dismiss="modal"> حفظ التعديلات </button>
          </div>
        </div>
      </div>

    </div>

    <div class="modal fade" id="deleteOrderModel" role="dialog">
      <div class="modal-dialog modal-sm">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-body">
            <h3>؟ هل انت متأكد من حذف الطلب</h3>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">لا</button>
            <button type="button" class="btn btn-danger" ng-click="DeleteOrder()" data-dismiss="modal"> نعم </button>
            </div>
          </div>
        </div>

      </div>
</div>
