<div class="row new-order-form">
  <div class="col-md-2"></div>
  <div class="col-md-8 well">
    <form>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="item">الاسم</label>
            <input type="text" class="form-control input-sm" id="item" ng-model="Order.Client.Name" placeholder="" required>
          </div>
          <div class="form-group">
            <label for="quantity">العنوان</label>
            <input type="text" class="form-control input-sm" id="quantity" ng-model="Order.Client.Address" placeholder="" required>
          </div>
          <div class="form-group">
            <label for="bgcolor"> التاريخ</label>
            <input type="date" class="form-control input-sm" id="bgcolor" ng-model="Order.date" placeholder="" required>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="item">الهاتف1</label>
            <input type="text" class="form-control input-sm" id="tel1" ng-model="Order.Client.Tel1" placeholder="" required>
          </div>
          <div class="form-group">
            <label for="item">الهاتف2</label>
            <input type="text" class="form-control input-sm" id="tel2" ng-model="Order.Client.Tel2" placeholder="" >
          </div>
          <div class="form-group">
            <label for="quantity">الفاكس</label>
            <input type="text" class="form-control input-sm" id="quantity" ng-model="Order.Client.Fax" placeholder="" required>
          </div>
          <div class="form-group">
            <label for="bgcolor">البريد الالكتروني</label>
            <input type="email" class="form-control input-sm" id="bgcolor" ng-model="Order.Client.Email" placeholder="" required>
          </div>
        </div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="item">العينة</label>
            <input type="text"class="form-control input-sm" id="item" ng-model="item.Name" placeholder="">
          </div>
          <div class="form-group">
            <label for="quantity">الكمية</label>
            <input type="text"class="form-control input-sm" id="quantity" ng-model="item.Quantity" placeholder="">
          </div>
          <div class="form-group">
            <label for="bgcolor">لون الارضية</label>
            <input type="text"class="form-control input-sm" id="bgcolor" ng-model="item.GColor" placeholder="">
          </div>
          <div class="form-group">
            <label for="bgcolor"> الحجم </label>
            <input type="text"class="form-control input-sm" id="bgcolor" ng-model="item.Size" placeholder="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="extra">معلومات اضافية</label>
            <textarea class="form-control text-info" rows="3"class="form-control input-sm" ng-model="item.Note" id="extra" placeholder=""></textarea>
          </div>
          <div class="form-group">
            <label for="pcolor">لون الطباعة</label>
            <input type="text"class="form-control input-sm" id="pcolor" ng-model="item.PColor" placeholder="">
          </div>
          <div class="checkbox">
          <label>
            <input class="pull-right" type="checkbox" ng-model="item.PrintOnChest">
            <span class="check-box-span"> الطباعة على الوجه </span>
          </label>
        </div>
        <div class="checkbox">
        <label>
          <input class="pull-right" type="checkbox" ng-model="item.PrintOnBack">
          <span class="check-box-span"> الطباعة على الظهر </span>
        </label>
      </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-2">
          <div class="form-group">
            <label for="pcolor">S</label>
            <input type="number"class="form-control input-sm" id="pcolor" ng-model="item['s']" placeholder="">
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <label for="pcolor">M</label>
            <input type="number"class="form-control input-sm" id="pcolor" ng-model="item['m']" placeholder="">
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <label for="pcolor">L</label>
            <input type="number"class="form-control input-sm" id="pcolor" ng-model="item['l']" placeholder="">
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <label for="pcolor">XL</label>
            <input type="number"class="form-control input-sm" id="pcolor" ng-model="item['xl']" placeholder="">
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <label for="pcolor">XXL</label>
            <input type="number"class="form-control input-sm" id="pcolor" ng-model="item['xxl']" placeholder="">
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <label for="pcolor">XXL</label>
            <input type="number"class="form-control input-sm" id="pcolor" ng-model="item['xxxl']" placeholder="">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-2">
          <div class="form-group">
            <label for="pcolor">6</label>
            <input type="number"class="form-control input-sm" id="pcolor" ng-model="item['6']" placeholder="">
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <label for="pcolor">8</label>
            <input type="number"class="form-control input-sm" id="pcolor" ng-model="item['8']" placeholder="">
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <label for="pcolor">10</label>
            <input type="number"class="form-control input-sm" id="pcolor" ng-model="item['10']" placeholder="">
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <label for="pcolor">12</label>
            <input type="number"class="form-control input-sm" id="pcolor" ng-model="item['12']" placeholder="">
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <label for="pcolor">14</label>
            <input type="number"class="form-control input-sm" id="pcolor" ng-model="item['14']" placeholder="">
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <label for="pcolor">16</label>
            <input type="number"class="form-control input-sm" id="pcolor" ng-model="item['16']" placeholder="">
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <label for="pcolor">18</label>
            <input type="number"class="form-control input-sm" id="pcolor" ng-model="item['18']" placeholder="">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <button type="button" class="btn btn-block" ng-click=addItem(item)>اضف العينة</button>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <table class="table" ng-if='Order.Items.length>0'>
            <thead>
              <tr>
                <th>العينة</th>
                <th>الكمية</th>
                <th>لون الارضية</th>
                <th> لون الطباعة</th>
                <th>معلومات اضافية</th>
                <th>الحجم1</th>
                <th>الحجم2</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="item in Order.Items track by $index">
                <td>{{item.Name}}</td>
                <td>{{item.Quantity}}</td>
                <td>{{item.GColor}}</td>
                <td>{{item.PColor}}</td>
                <td>{{item.Note}}</td>
                <td>{{item.Size}}</td>
                <td>{{item.PainOnChest}}</td>
                <td>{{item.PainOnBack}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="item">السعر</label>
            <input type="text"class="form-control input-sm" id="item" ng-model="Order.TotalPrice" ng-init=0 required>
          </div>
          <div class="form-group">
            <label for="quantity">عربون</label>
            <input type="text"class="form-control input-sm" id="quantity" ng-model="Order.Payment.Ammount" ng-init=0>
          </div>
          <div class="form-group">
            <label for="bgcolor">الباقي </label>
            <input type="text"class="form-control input-sm" id="bgcolor" ng-value=Order.TotalPrice-Order.Payment.Ammount disabled>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <button type="submit" class="btn btn-success btn-block" ng-click=saveOrder(order)>حفظ</button>
        </div>
      </div>
    </form>

  </div>
  <div class="col-md-2">
  </div>
</div>
<div class="col-md-8 col-md-offset-2 pull-right" dir="ltr">
  <pre>
{{Order | json}}
  </pre>
</div>
