<div class="row new-order-form">
  <div class="col-md-2"></div>
  <div class="col-md-8 well">
    <form>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="item">الاسم</label>
            <input type="text" class="form-control" id="item" ng-model="order.client.name" placeholder="">
          </div>
          <div class="form-group">
            <label for="quantity">العنوان</label>
            <input type="text" class="form-control" id="quantity" ng-model="order.client.address" placeholder="">
          </div>
          <div class="form-group">
            <label for="bgcolor"> التاريخ</label>
            <input type="date" class="form-control" id="bgcolor" ng-model="order.date" placeholder="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="item">الهاتف</label>
            <input type="text" class="form-control" id="item" ng-model="order.client.phone" placeholder="">
          </div>
          <div class="form-group">
            <label for="quantity">الفاكس</label>
            <input type="text" class="form-control" id="quantity" ng-model="order.client.fax" placeholder="">
          </div>
          <div class="form-group">
            <label for="bgcolor">البريد الالكتروني</label>
            <input type="email" class="form-control" id="bgcolor" ng-model="order.client.email" placeholder="">
          </div>
        </div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="item">العينة</label>
            <input type="text" class="form-control" id="item" ng-model="order.item.name" placeholder="">
          </div>
          <div class="form-group">
            <label for="quantity">الكمية</label>
            <input type="text" class="form-control" id="quantity" ng-model="order.item.quantity" placeholder="">
          </div>
          <div class="form-group">
            <label for="bgcolor">لون الارضية</label>
            <input type="text" class="form-control" id="bgcolor" ng-model="order.item.bgcolor" placeholder="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="extra">معلومات اضافية</label>
            <textarea class="form-control text-info" rows="3" class="form-control" ng-model="order.extra" id="extra" placeholder=""></textarea>
          </div>
          <div class="form-group">
            <label for="pcolor">لون الطباعة</label>
            <input type="text" class="form-control" id="pcolor" ng-model="order.item.pcolor" placeholder="">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-2">
          <div class="form-group">
            <label for="pcolor">S</label>
            <input type="number" class="form-control" id="pcolor" ng-model="order.item.size['s']" placeholder="">
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <label for="pcolor">M</label>
            <input type="number" class="form-control" id="pcolor" ng-model="order.item.size['m']" placeholder="">
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <label for="pcolor">L</label>
            <input type="number" class="form-control" id="pcolor" ng-model="order.item.size['l']" placeholder="">
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <label for="pcolor">XL</label>
            <input type="number" class="form-control" id="pcolor" ng-model="order.item.size['xl']" placeholder="">
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <label for="pcolor">XXL</label>
            <input type="number" class="form-control" id="pcolor" ng-model="order.item.size['xxl']" placeholder="">
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <label for="pcolor">XXL</label>
            <input type="number" class="form-control" id="pcolor" ng-model="order.item.size['xxxl']" placeholder="">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-2">
          <div class="form-group">
            <label for="pcolor">6</label>
            <input type="number" class="form-control" id="pcolor" ng-model="order.item.size['6']" placeholder="">
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <label for="pcolor">8</label>
            <input type="number" class="form-control" id="pcolor" ng-model="order.item.size['8']" placeholder="">
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <label for="pcolor">10</label>
            <input type="number" class="form-control" id="pcolor" ng-model="order.item.size['10']" placeholder="">
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <label for="pcolor">12</label>
            <input type="number" class="form-control" id="pcolor" ng-model="order.item.size['12']" placeholder="">
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <label for="pcolor">14</label>
            <input type="number" class="form-control" id="pcolor" ng-model="order.item.size['14']" placeholder="">
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <label for="pcolor">16</label>
            <input type="number" class="form-control" id="pcolor" ng-model="order.item.size['16']" placeholder="">
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <label for="pcolor">18</label>
            <input type="number" class="form-control" id="pcolor" ng-model="order.item.size['18']" placeholder="">
          </div>
        </div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="item">السعر</label>
            <input type="text" class="form-control" id="item" ng-model="order.price.total" ng-init=0>
          </div>
          <div class="form-group">
            <label for="quantity">عربون</label>
            <input type="text" class="form-control" id="quantity" ng-model="order.price.down_payment" ng-init=0>
          </div>
          <div class="form-group">
            <label for="bgcolor">الباقي </label>
            <input type="text" class="form-control" id="bgcolor" ng-model="order.price.remaining" ng-value=order.price.remaining=order.price.total-order.price.down_payment>
          </div>
        </div>
        <div class="col-md-6">
            <div class="checkbox">
            <label>
              <input class="pull-right" type="checkbox" ng-model="order.client_approve">
              <span class="check-box-span"> موافقة الزبون</span>
            </label>
          </div>
          <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="order.review">
            <span class="check-box-span">التدقيق</span>

          </label>
        </div>
        <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="order.process">
          <span class="check-box-span"> التنفيذ </span>
        </label>
      </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <button type="submit" class="btn btn-success btn-block" ng-click=saveOrder(order)>حفظ</button>
        </div>
      </div>
    </form>

  </div>
  <div class="col-md-2">
  </div>
</div>
<div class="col-md-8 col-md-offset-2 pull-right" dir="ltr">
  <pre>
{{order | json}}
  </pre>
</div>
