<div class="row new-order-form">
  <div class="col-md-2"></div>
  <div class="col-md-8 well">
    <form class="form-horizontal">
      <div class="form-group">
        <label for="item" class="col-sm-1 col-xs-2 control-label pull-left">الاسم:</label>
        <div class="col-sm-6 pull-left">
          <input type="text" class="form-control input-sm" id="item" ng-model="Order.Client.Name" placeholder=""  >
        </div>
      </div>
      <div class="form-group">
        <label for="address" class="col-sm-1 col-xs-2 control-label pull-left">العنوان:</label>
        <div class="col-sm-6 pull-left">
          <input type="text" class="form-control input-sm" id="address" ng-model="Order.Client.Address" placeholder=""  >
        </div>
      </div>
      <div class="form-group">
        <label for="date" class="col-sm-1 col-xs-2 control-label pull-left"> التاريخ:</label>
        <div class="col-sm-6 pull-left">
          <input type="date" class="form-control input-sm" id="date" ng-model="Order.date" placeholder=""  >
        </div>
      </div>
      <div class="form-group">
        <label for="tel1" class="col-sm-1 col-xs-2 control-label pull-left">الهاتف1:</label>
        <div class="col-sm-6 pull-left">
          <input type="text" class="form-control input-sm" id="tel1" ng-model="Order.Client.Tel1" placeholder=""  >
        </div>
      </div>
      <div class="form-group">
        <label for="tel2" class="col-sm-1 col-xs-2 control-label pull-left">الهاتف2:</label>
        <div class="col-sm-6 pull-left">
          <input type="text" class="form-control input-sm" id="tel2" ng-model="Order.Client.Tel2" placeholder=""  >
        </div>
      </div>
      <div class="form-group">
        <label for="fax" class="col-sm-1 col-xs-2 control-label pull-left">الفاكس:</label>
        <div class="col-sm-6 pull-left">
          <input type="text" class="form-control input-sm" id="fax" ng-model="Order.Client.Fax" placeholder=""  >
        </div>
      </div>
      <div class="form-group">
        <label for="email" class="col-sm-1 col-xs-2 control-label pull-left">البريد الالكتروني:</label>
        <div class="col-sm-6 pull-left">
          <input type="email" class="form-control input-sm" id="email" ng-model="Order.Client.Email" placeholder=""  >
        </div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-2">
          <button class="btn btn-sm btn-success"
             data-toggle="modal" data-target="#itemModal">اضف  عينة</button>
        </div>
      </div>
      <br/>
      <div class="row">
        <div class="col-md-12">
          <table class="table table-bordered" >
            <thead>
              <tr>
                <th>العينة</th>
                <th>الكمية</th>
                <th>لون الارضية</th>
                <th> لون الطباعة</th>
                <th>معلومات اضافية</th>
                <th>الحجم1</th>
                <th>الحجم2</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-if='Order.Items.length>0' ng-repeat="item in Order.Items track by $index">
                <td>{{item.Name}}</td>
                <td>{{item.Quantity}}</td>
                <td>{{item.GColor}}</td>
                <td>{{item.PColor}}</td>
                <td>{{item.Note}}</td>
                <td>{{item.Size}}</td>
                <td>{{item.PainOnChest}}</td>
                <td>{{item.PainOnBack}}</td>
              </tr>
              <tr ng-if='Order.Items.length<=0'>
                <td colspan="7">
                  لم يتم اضافة عناصر
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="item">السعر</label>
            <input type="text"class="form-control input-sm" id="item" ng-model="Order.TotalPrice" ng-init=0  >
          </div>
          <div class="form-group">
            <label for="quantity">عربون</label>
            <input type="text"class="form-control input-sm" id="quantity" ng-model="Order.Payment.Ammount" ng-init=0>
          </div>
          <div class="form-group">
            <label for="bgcolor">الباقي </label>
            <input type="text"class="form-control input-sm" id="bgcolor" ng-value=Order.TotalPrice-Order.Payment.Ammount disabled>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <button type="submit" class="btn btn-success btn-block" ng-click=saveOrder(order)>حفظ</button>
        </div>
      </div>
    </form>

  </div>
  <div class="col-md-2">
  </div>
</div>


<!-- item modal -->
<div class="modal fade" id="itemModal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">اضافة عينة</h4>
      </div>
      <div class="modal-body">

        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="item">العينة</label>
              <input type="text"class="form-control input-sm" id="item" ng-model="item.Name" placeholder="">
            </div>
            <div class="form-group">
              <label for="quantity">الكمية</label>
              <input type="text"class="form-control input-sm" id="quantity" ng-model="item.Quantity" placeholder="">
            </div>
            <div class="form-group">
              <label for="bgcolor">لون الارضية</label>
              <input type="text"class="form-control input-sm" id="bgcolor" ng-model="item.GColor" placeholder="">
            </div>
            <div class="form-group">
              <label for="bgcolor"> الحجم </label>
              <input type="text"class="form-control input-sm" id="bgcolor" ng-model="item.Size" placeholder="">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="extra">معلومات اضافية</label>
              <textarea class="form-control text-info" rows="3"class="form-control input-sm" ng-model="item.Note" id="extra" placeholder=""></textarea>
            </div>
            <div class="form-group">
              <label for="pcolor">لون الطباعة</label>
              <input type="text"class="form-control input-sm" id="pcolor" ng-model="item.PColor" placeholder="">
            </div>
            <div class="checkbox">
            <label>
              <input class="pull-right" type="checkbox" ng-model="item.PrintOnChest">
              <span class="check-box-span"> الطباعة على الوجه </span>
            </label>
          </div>
          <div class="checkbox">
          <label>
            <input class="pull-right" type="checkbox" ng-model="item.PrintOnBack">
            <span class="check-box-span"> الطباعة على الظهر </span>
          </label>
        </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-2">
            <div class="form-group">
              <label for="pcolor">S</label>
              <input type="number"class="form-control input-sm" id="pcolor" ng-model="item['s']" placeholder="">
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label for="pcolor">M</label>
              <input type="number"class="form-control input-sm" id="pcolor" ng-model="item['m']" placeholder="">
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label for="pcolor">L</label>
              <input type="number"class="form-control input-sm" id="pcolor" ng-model="item['l']" placeholder="">
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label for="pcolor">XL</label>
              <input type="number"class="form-control input-sm" id="pcolor" ng-model="item['xl']" placeholder="">
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label for="pcolor">XXL</label>
              <input type="number"class="form-control input-sm" id="pcolor" ng-model="item['xxl']" placeholder="">
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label for="pcolor">XXL</label>
              <input type="number"class="form-control input-sm" id="pcolor" ng-model="item['xxxl']" placeholder="">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-2">
            <div class="form-group">
              <label for="pcolor">6</label>
              <input type="number"class="form-control input-sm" id="pcolor" ng-model="item['6']" placeholder="">
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label for="pcolor">8</label>
              <input type="number"class="form-control input-sm" id="pcolor" ng-model="item['8']" placeholder="">
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label for="pcolor">10</label>
              <input type="number"class="form-control input-sm" id="pcolor" ng-model="item['10']" placeholder="">
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label for="pcolor">12</label>
              <input type="number"class="form-control input-sm" id="pcolor" ng-model="item['12']" placeholder="">
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label for="pcolor">14</label>
              <input type="number"class="form-control input-sm" id="pcolor" ng-model="item['14']" placeholder="">
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label for="pcolor">16</label>
              <input type="number"class="form-control input-sm" id="pcolor" ng-model="item['16']" placeholder="">
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label for="pcolor">18</label>
              <input type="number"class="form-control input-sm" id="pcolor" ng-model="item['18']" placeholder="">
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">خروج</button>
        <button type="button" class="btn btn-praimary" ng-click=addItem(item) data-dismiss="modal">اضف العينة</button>
        </div>
      </div>
    </div>

  </div>
</div>
